TrigTools/*/*.pyc
TrigTools/python/__init__.py


TruthTools/*/*.pyc
TruthTools/python/__init__.py
TrigTools/crab/crab_*
TrigTools/crab/Cert_271036-284044_13TeV_ReReco_07Aug2017_Collisions16_JSON.txt TrigTools/crab/Cert_294927-306462_13TeV_EOY2017ReReco_Collisions17_JSON.txt TrigTools/crab/Cert_314472-325175_13TeV_PromptReco_Collisions18_JSON.txt
TrigTools/crab/Cert_*_JSON.txt
TrigTools/crab/crab.log
TrigTools/crab/pydump.py
TrigTools/crab/triggerStudyEmu.py
